@model EmployeesManagement.Model.Employee

@{
    ViewData["Title"] = "Create";
}

<p>
    <a asp-action="Index" class="btn btn-primary"><i class="fas fa-plus"></i> Employees</a>
</p>
<div class="card">
    <div class="card-header">
        <h3 class="card-title">Employee List</h3>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <div class="col-md-6 mb-2">
                    <div class="form-group">
                        <label asp-for="EmployeeId" class="control-label">Employee Id</label>
                        <input asp-for="EmployeeId" class="form-control" />
                        <span asp-validation-for="EmployeeId" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6 mb-2">
                    <div class="form-group">
                        <label asp-for="FirstName" class="control-label">First Name</label>
                        <input asp-for="FirstName" class="form-control" />
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6 mb-2">
                    <div class="form-group">
                        <label asp-for="LastName" class="control-label">Last Name</label>
                        <input asp-for="LastName" class="form-control" />
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6 mb-2">
                    <div class="form-group">
                        <label asp-for="PhoneNumber" class="control-label">Phone Number</label>
                        <input asp-for="PhoneNumber" class="form-control" />
                        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6 mb-2">
                    <div class="form-group">
                        <label asp-for="Email" class="control-label">Email</label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6 mb-2">
                    <div class="form-group">
                        <label asp-for="Country" class="control-label">Country</label>
                        <input asp-for="Country" class="form-control" />
                        <span asp-validation-for="Country" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6 mb-2">
                    <div class="form-group">
                        <label asp-for="DateOfBirth" class="control-label">Date Of Birth</label>
                        <input asp-for="DateOfBirth" class="form-control" />
                        <span asp-validation-for="DateOfBirth" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6 mb-2">
                    <div class="form-group">
                        <label asp-for="Address" class="control-label">Address</label>
                        <input asp-for="Address" class="form-control" />
                        <span asp-validation-for="Address" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6 mb-2">
                    <div class="form-group">
                        <label asp-for="Department" class="control-label">Department</label>
                        <input asp-for="Department" class="form-control" />
                        <span asp-validation-for="Department" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6 mb-2">
                    <div class="form-group">
                        <label asp-for="Designation" class="control-label">Desognation</label>
                        <input asp-for="Designation" class="form-control" />
                        <span asp-validation-for="Designation" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group text-end">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </div>            
        </form>
    </div>
    <!-- /.card-body -->
</div>
<!-- /.card -->

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
